:root {
  /* Colours */
  /*   --color-text: #fff;
  --color-primary: #576cbc;
  --color-secondary: #19376d;
  --color-dark: #0b2447;
  --color-bg: #04152d; */


  --color-text: #ffffff;
  --color-primary: #091057;
  --color-secondary: #024CAA;
  --color-dark: #EC8305;
  --color-bg: #091057;
  --color-blur: #024CAA;
  /* Fonts */
  --font-roboto: "Roboto";
}